<div class="container">
    <div class="row">
        <div class="col-2" >
            <app-navigation></app-navigation>
        </div>

        <div class="col-10 content">
            <router-outlet></router-outlet>
          </div>

        <!-- <div class="col-10 bg-body-secondary" >
            <div class="col-6 bg-danger-subtle" >
                <app-login ></app-login>
            </div>

            <div class="col-6 bg-dark-subtle">
                <app-vue-messages></app-vue-messages>
            </div>

            <div class="col-6 bg-body-secondary" >
                <app-enregistrement></app-enregistrement>
            </div>

            <div class="col-6 bg-danger-subtle" >
                <app-capture ></app-capture>
            </div>
        </div> -->
    </div>
</div>

